{% extends 'base.html.twig' %}

{% block title %}Salade Hors Formule{% endblock %}

{% block body %}
    <h2>Choisissez votre salade</h2>

        <div class="product-list">

            
            <form method="post" action="{{ path('panier_add') }}" class="product-card">
                <input type="hidden" name="id" value="salade_pomme_de_terre_lardons_noix">
                <input type="hidden" name="name" value="Salade de pomme de terre, lardons et noix">

                    <div class="product-text">
                        <h3>Salade de pomme de terre, lardons et noix</h3>
                        <span></span>
                        <span></span>
                    </div>

                    <button type="submit" class="add-btn" aria-label="Ajouter au panier">
                            +
                    </button>            
            </form>

            <form method="post" action="{{ path('panier_add') }}" class="product-card">
                <input type="hidden" name="id" value="salade_brebis_olive">
                <input type="hidden" name="name" value="Salade brebis olive">

                    <div class="product-text">
                        <h3>Salade brebis olive</h3>
                        <span></span>
                        <span></span>
                    </div>

                    <button type="submit" class="add-btn" aria-label="Ajouter au panier">
                            +
                    </button>            
            </form>

        </div>
{% endblock %}
