{% extends 'base.html.twig' %}

{% block title %}Panini Hors Formule{% endblock %}

{% block body %}
    <h2>Choisissez votre panini</h2>

        <div class="product-list">

            <form method="post" action="{{ path('panier_add') }}" class="product-card">
                <input type="hidden" name="id" value="panini_poulet_curry">
                <input type="hidden" name="name" value="Panini Poulet Curry">

                    <div class="product-text">
                        <h3>Panini Poulet Curry</h3>
                        <span></span>
                        <span></span>
                    </div>

                    <button type="submit" class="add-btn" aria-label="Ajouter au panier">
                            +
                    </button>            
            </form>

            <form method="post" action="{{ path('panier_add') }}" class="product-card">
                <input type="hidden" name="id" value="panini_jambon_chevre">
                <input type="hidden" name="name" value="Panini Jambon Chèvre">

                    <div class="product-text">
                        <h3>Panini Jambon Chèvre</h3>
                        <span></span>
                        <span></span>
                    </div>

                    <button type="submit" class="add-btn" aria-label="Ajouter au panier">
                            +
                    </button>            
            </form>

            <form method="post" action="{{ path('panier_add') }}" class="product-card">
                <input type="hidden" name="id" value="panini_trois_fromage">
                <input type="hidden" name="name" value="Panini Trois Fromage">

                    <div class="product-text">
                        <h3>Panini Trois Fromage</h3>
                        <span></span>
                        <span></span>
                    </div>

                    <button type="submit" class="add-btn" aria-label="Ajouter au panier">
                            +
                    </button>            
            </form>

        </div>
{% endblock %}
